<tr id="object_list_entry-<%= object.id %>" class='entry'> 
  <!-- Title -->
  <td>
    <%=    object.name   %>
  </td>
  
  <!-- External Deadline -->
  <td> 
    <%=  object.phone_number  %>
  </td>
  
  <!-- Deliverables -->
  <td> 
    <%= object.seat_category.name %>
  </td>
  
  <!-- Project Memberships -->
  <td>  
    <%= object.number_of_people  %> 
  </td>
  
  <td>
    <%= object.created_at.hour %>:<%= object.created_at.min %>
  </td>
  
  <td> 
    <%= object.booking_code %> 
  </td>
 
   
   
  <td> 
    <% case object.booking_status %>
    <% when BOOKING_STATUS[:pending_confirmation_sms] %>
      <span class="label">Confirming</span>   
    <% when BOOKING_STATUS[:pending_seat] %> 
      <span class="label blue">Wait</span>  
    <% when BOOKING_STATUS[:seat_ready] %> 
      <span class="label green">Ready</span> 
    <% when BOOKING_STATUS[:closed] %> 
      <span class="label yellow">Closed</span> 
    <% when BOOKING_STATUS[:canceled] %> 
      <span class="label red">Canceled</span>
    <% else %>
      <span class="label yellow">..</span>
    <% end %>
  </td>
  
  <td> 
   <%= link_to "Ready", send_booking_ready_notification_url, :class => 'btn green mini variable_url_submit' %>  
  </td> 
  
  <td>
    <%= link_to "Close", close_booking_url , :class => 'btn blue mini variable_url_submit' %>  
  </td>
  
  <td>
    <%= link_to "Cancel", cancel_booking_url , :class => 'btn red mini variable_url_submit' %>  
  </td>
</tr>